@model SameDayServicezFinal.Models.Project
@using SameDayServicezFinal.Utils


<div class="card card-custom">
    <div class="col-md-12">
        <div class="row">
            @{
                var i = 0; // Model.Pager.CurrentPage;
                var imagename = "";
            }
            @foreach (var profile in Model.ProjectApplicants.Where(p => p.ProjectsId == Model.ProjectsId && p.AssinedToProject == false).OrderByDescending(p => p.ApplicantRating))
            {
                var profileGuid = Guid.NewGuid();
                if (i > 99)
                {
                    i = 1;
                }
                <div class="col-lg-3 accept-applicant-@profileGuid">
                    <div class="card card-profile @profileGuid-card " style="border-top-right-radius: 50px;border-top-left-radius: 50px;background-color: black !important;border:1px grey solid;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);overflow:hidden">


                        <div class="card bg-light mb-3 col-12" style="background-image:url('/content/images/5d26132c3835b_thumb900.jpg')">
                            <div class="row mx-auto">
                                <div class="card-headerA col-4 " style="background-color:transparent!important;border-bottom:none!important">
                                    @if (@profile.Applicant.ProfileImage == null)
                                    {
                                        imagename = "https://randomuser.me/api/portraits/men/" + i + ".jpg";

                                        @Html.Image(imagename, "card-profile-img", "", "");


                                    }
                                    else
                                    {
                                        @Html.Image("/Uploads/ProfileImages/" + @profile.Applicant.Id + "/" + @profile.Applicant.ProfileImage, "card-profile-img", "", "");
                                    }
                                </div>
                                <div class="card-body col-7 ">

                                    <span class="mb-3 row " data-search="displayname">@profile.Applicant.DisplayName</span>
                                    <span class="mb-3 row" data-search="hourlyrate">Hourly Rate: $@profile.Applicant.ByTheHourRate</span>
                                    <span class="row" id="rateMe" data-search="rating" style="font-size:1rem">
                                        <i class="fas fa-star py-2 px-1 rate-popover-@profileGuid" data-index="0" data-html="true" data-toggle="popover" data-placement="top" title="Very bad"></i>
                                        <i class="fas fa-star py-2 px-1 rate-popover-@profileGuid" data-index="1" data-html="true" data-toggle="popover" data-placement="top" title="Poor"></i>
                                        <i class="fas fa-star py-2 px-1 rate-popover-@profileGuid" data-index="2" data-html="true" data-toggle="popover" data-placement="top" title="OK"></i>
                                        <i class="fas fa-star py-2 px-1 rate-popover-@profileGuid" data-index="3" data-html="true" data-toggle="popover" data-placement="top" title="Good"></i>
                                        <i class="fas fa-star py-2 px-1 rate-popover-@profileGuid" data-index="4" data-html="true" data-toggle="popover" data-placement="top" title="Excellent"></i>
                                    </span>
                                    <script>
                                                                $(document).ready(function () {
                                                                     SetStars($('.rate-popover-@profileGuid'),@profile.Applicant.Rating);
                                                                });
                                    </script>

                                </div>
                            </div>
                        </div>

                        <div class="card-body text-center text-light grayscale">
                            @*<div class="card ">
                                    <h4 class="card-title">My Bios</h4>
                                    <div class="card-body my-bios ">

                                        <p class="mb-4 text-left  " font-size: 1rem;"> @profile.Applicant.Bio</p>
                                    </div>
                                </div>*@

                            <div class="row">
                                @*<div class="col">
                                    <div class="card " style="min-height:200px;max-height:200px;overflow:hidden">
                                        <div class="card-body ">
                                            <h4 class="card-title">My Past Projects</h4>
                                            <table class="mx-auto table-striped past-projects-@profile.Applicant.Id  " style="width:100%;color:grey !important">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var pastProject in profile.PastProjects)
                                                    {
                                                        var specialId = Guid.NewGuid();
                                                        <tr>
                                                            <td style="vertical-align:top;white-space: nowrap;">
                                                                <div class="container">
                                                                    <span id="rateMe" style="font-size:0.75rem">
                                                                        <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="0" data-html="true" data-toggle="popover" data-placement="top" title="Very bad"></i>
                                                                        <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="1" data-html="true" data-toggle="popover" data-placement="top" title="Poor"></i>
                                                                        <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="2" data-html="true" data-toggle="popover" data-placement="top" title="OK"></i>
                                                                        <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="3" data-html="true" data-toggle="popover" data-placement="top" title="Good"></i>
                                                                        <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="4" data-html="true" data-toggle="popover" data-placement="top" title="Excellent"></i>
                                                                    </span>
                                                                    <script>
                                                                                                        $(document).ready(function () {
                                                                                                            SetStars($('.rate-popover-@specialId'),@profile.Applicant.Rating);
                                                                                                        });

                                                                    </script>
                                                                </div>
                                                            </td>
                                                            <td style="word-wrap: break-word;vertical-align:top">
                                                                <span>@pastProject.ProjectTitle</span>
                                                            </td>
                                                            <td class="text-left">
                                                                @pastProject.ProjectOwnerName
                                                            </td>

                                                        </tr>
                                                        i += 1;
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                                        </div>*@
                                <div class="col-12">
                                    <div class="card " style="min-height:200px;max-height:200px;overflow:hidden">
                                        <div class="card-body ">
                                            <h6 class="card-title">My Job Professions</h6>
                                            <table class=" table-striped text-left " style="width:100%;color:grey !important">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var profession in @profile.Applicant.UserProfessions)
                                                    {
                                                        <tr>
                                                            <td style="padding:2px;font-size:smaller">@profession.SubCatName</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 ">
                                    <span class="btn btn-dark MyFont ">Message Contractor</span>
                                    <span class="btn btn-dark profile-btn MyFont" data-contractor-id="@profile.Applicant.Id" >View Full Profile</span>
                                </div>


                            </div>

                        </div>
                        <div class="card-footer text-dark" style="background-color:black !important">

                            <div class="row">
                                <div class="col-12">
                                    <div class="float-left text-light" style="margin-left:15px"> Applied on : @profile.AppliedDate.ToShortDateString()</div>
                                    <div class="float-right"> <span data-guid="@profileGuid" data-projectId="@profile.ProjectsId" data-applicantId="@profile.ApplicantId" class="btn btn-info accept-applicant" style="padding: 0.25rem 0.5rem;    font-size: 0.875rem;    line-height: 1.5;    border-radius: 0.2rem;margin-right:15px;">Accept </span></div>
                                    <div class="float-right"> <span data-projectId="@profile.ProjectsId" data-applicantId="@profile.ApplicantId" class="btn  reject-applicant @if (profile.Rejected) { <text>rejected btn-secondary</text>} else { <text> btn-danger </text>} " style="padding: 0.25rem 0.5rem;    font-size: 0.875rem;    line-height: 1.5;    border-radius: 0.2rem;margin-right:15px">Reject</span></div>
                                </div>

                            </div>


                            <div class="text-light row " style="padding:15px">
                                <div class="col-12"> Rate your applicant for later use:</div>
                                <div class="col-12">
                                    <span id="rateMe" data-search="rating" style="font-size:1rem;margin-left:5px">
                                        <i class="fas fa-star py-2 px-1 rate-popover-save-@profileGuid" data-projectId="@profile.ProjectsId" data-applicantId="@profile.ApplicantId" data-index="0" data-html="true" data-toggle="popover" data-placement="top" title="Very bad"></i>
                                        <i class="fas fa-star py-2 px-1 rate-popover-save-@profileGuid" data-projectId="@profile.ProjectsId" data-applicantId="@profile.ApplicantId" data-index="1" data-html="true" data-toggle="popover" data-placement="top" title="Poor"></i>
                                        <i class="fas fa-star py-2 px-1 rate-popover-save-@profileGuid" data-projectId="@profile.ProjectsId" data-applicantId="@profile.ApplicantId" data-index="2" data-html="true" data-toggle="popover" data-placement="top" title="OK"></i>
                                        <i class="fas fa-star py-2 px-1 rate-popover-save-@profileGuid" data-projectId="@profile.ProjectsId" data-applicantId="@profile.ApplicantId" data-index="3" data-html="true" data-toggle="popover" data-placement="top" title="Good"></i>
                                        <i class="fas fa-star py-2 px-1 rate-popover-save-@profileGuid" data-projectId="@profile.ProjectsId" data-applicantId="@profile.ApplicantId" data-index="4" data-html="true" data-toggle="popover" data-placement="top" title="Excellent"></i>
                                    </span>
                                    <script>
                                    $(document).ready(function () {
                                        MouseOverSetStars($('.rate-popover-save-@profileGuid'),@profile.ApplicantRating);
                                    });
                                    </script>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                i += 1;
            }
        </div>
    </div>
</div>

<div class="full-applicant-profile-view"></div>

<script>



    $('.accept-applicant').on('click', function (evt) {
        var element = $(this);
        swal({
            title: "Accept Applicant?",
            text: "Are you sure that you want to accept this applicant?",
            type: "info",
            showCancelButton: true,
            confirmButtonClass: "btn-info",
            confirmButtonText: "Ok!",
            closeOnConfirm: true
        },
            function () {
                $.ajax({
                    type: "POST",
                    url: '/Account/AssignContractor?ApplicantId=' + element.attr('data-applicantId') + '&projectId=' + element.attr('data-projectId'),
                    success: function () {
                        $.get('/Account/GetProjectAssignmentSingle?ProjectsId=' + element.attr('data-projectId') + '&ApplicantId=' + element.attr('data-applicantId'), function (data) {                         
                            $('.assigned-contactors').append(data);
                            $('.accept-applicant-' + element.attr('data-guid')).remove();
                            $('.ProjectApplicants-badge').html($('.ProjectApplicants-badge').html() - 1);
                        });
                    }
                });
            });        
    });
    




    $('.reject-applicant').on('click', function (evt) {

       
        var element = $(this);

        if ($(this).hasClass('rejected')) {


            swal({
                title: "Rescind Applicant?",
                text: "Are you sure that you want to rescind this applicant?",
                type: "info",
                showCancelButton: true,
                confirmButtonClass: "btn-info",
                confirmButtonText: "Ok!",
                closeOnConfirm: true
            },
                function () {
                    //swal("Deleted!", "Your imaginary file has been deleted.", "success");  
                  
                    element.removeClass('rejected');
                    element.removeClass('btn-secondary');
                    element.addClass('btn-danger');
                    $.ajax({
                        type: "POST",
                        url: '/Account/RejectOrUnrejectApplicant?projectId=' + element.attr('data-projectId') + '&ApplicantId=' + element.attr('data-applicantId') + '&Reject=false',
                        success: function () {

                        }
                    });
                });        

        }
        else {

            swal({
                title: "Reject Applicant?",
                text: "Are you sure that you want to reject this applicant?",
                type: "info",
                showCancelButton: true,
                confirmButtonClass: "btn-info",
                confirmButtonText: "Ok!",
                closeOnConfirm: true
            },
            function () {
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");
               
                element.addClass('rejected');
                element.addClass('btn-secondary');
                element.removeClass('btn-danger');

                $.ajax({
                    type: "POST",
                    url: '/Account/RejectOrUnrejectApplicant?projectId=' + element.attr('data-projectId') + '&ApplicantId=' + element.attr('data-applicantId') + '&Reject=true',
                    success: function () {

                    }
                });
            });


          
        }

       
        return false;

    });

    $('.profile-btn').on('click', function (evt) {
        var $detailDiv = $('.full-applicant-profile-view');

        $.get('/Account/FullProfile?Id=' + $(this).attr('data-contractor-id'), function (data) {
            $detailDiv.replaceWith('<div class="full-applicant-profile-view">' + data + '</div>');
            //$detailDiv.replaceWith(data);

            $('.bd-example-modal-lg').modal('show').on('hidden.bs.modal', function (e) {

                $('.full-applicant-profile-view').html('');
            });

        });
    });
</script>