<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/DataTables/media/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/DataTables/extensions/Responsive/css/responsive.bootstrap4.css" rel="stylesheet" />
    <!-- Font Awesome -->

    <link rel="stylesheet" href="~/Content/fontawesome-all.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/loading.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap-select.css" rel="stylesheet" />*@
    <script src="~/Scripts/umd/popper.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")



    <script src="~/Scripts/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script async src="~/Scripts/bootstrap-checkbox.js"></script>
    <script src="~/Scripts/sweetalert.js"></script>
    <script src="~/Scripts/jquery.loading.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
    <script src="~/Scripts/utilities.js"></script>
    <script src="~/Scripts/dropzone/dropzone.js"></script>
    <link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />
    <script>Dropzone.autoDiscover = false;</script>
    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AWGzPzYGa77mx0BiyYOncuxgSRSRXoBSXf9IQiMfi2xyEhf7UBmvUSvHCATMkSG_Cv6E6s2x7IVK-1H_&currency=USD"  async></script>
    @RenderSection("scripts", required: false)


    <script>
        $(function () {
            //$.fn.selectpicker.Constructor.BootstrapVersion = '4';

            //$('select').selectpicker({ mobile: true });
        });
    </script>

    @Styles.Render("~/Content/css")
    <style>
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary ">
        <div class="container-fluid ">

            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <img src="~/Content/images/logo.png" class="img-fluid " style="height:54px" />
            </button>

            <div class="navbar-collapse collapse ml-auto" id="navbarSupportedContent">
                <img src="~/Content/images/logo.png" class="img-fluid  d-none d-lg-block" style="height:80px" onclick="location.href='@Url.Action("index", "Home")'" />

                <ul class="nav navbar-nav ml-auto ">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link text-primary" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link text-primary" })</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "nav-link text-primary" })</li>
                    <li class="nav-item">@Html.ActionLink("How it Works", "Works", "Home", null, new { @class = "nav-link text-primary" })</li>
                    @if (Request.IsAuthenticated == false)
                    {

                        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link text-primary" })</li>
                        <li class="nav-item">@Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link text-primary" })</li>
                    }
                    else
                    {


                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Session["FullName"]
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("Portal", "Account", new { IsContractor = SameDayServicezFinal.Utils.Extensions.IsInContractorMode })">DashBoard</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                </div>
                            </li>
                        }
                    }

                </ul>

                <div class="form-group">
                    @*@Html.Partial("_LoginPartial")*@
                </div>

            </div>

        </div>
    </nav>


    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <style>
        .footer-bs {
            background-color: #111111 !important;
            padding: 60px 40px;
            color: rgba(255,255,255,1.00);
            margin-bottom: 20px;
            border-bottom-right-radius: 6px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 6px;
        }

            .footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
                padding: 10px 25px;
            }

            .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
                border-color: transparent;
            }

            .footer-bs .footer-brand h2 {
                margin: 0px 0px 10px;
            }

            .footer-bs .footer-brand p {
                font-size: 12px;
                color: rgba(255,255,255,0.70);
            }

            .footer-bs .footer-nav ul.pages {
                list-style: none;
                padding: 0px;
            }

                .footer-bs .footer-nav ul.pages li {
                    padding: 5px 0px;
                }

                .footer-bs .footer-nav ul.pages a {
                    color: rgba(255,255,255,1.00);
                    font-weight: bold;
                    text-transform: uppercase;
                }

                    .footer-bs .footer-nav ul.pages a:hover {
                        color: rgba(255,255,255,0.80);
                        text-decoration: none;
                    }

            .footer-bs .footer-nav h4 {
                font-size: 11px;
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-bottom: 10px;
            }

            .footer-bs .footer-nav ul.list {
                list-style: none;
                padding: 0px;
            }

                .footer-bs .footer-nav ul.list li {
                    padding: 5px 0px;
                }

                .footer-bs .footer-nav ul.list a {
                    color: rgba(255,255,255,0.80);
                }

                    .footer-bs .footer-nav ul.list a:hover {
                        color: rgba(255,255,255,0.60);
                        text-decoration: none;
                    }

            .footer-bs .footer-social ul {
                list-style: none;
                padding: 0px;
            }

            .footer-bs .footer-social h4 {
                font-size: 11px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            .footer-bs .footer-social li {
                padding: 5px 4px;
            }

            .footer-bs .footer-social a {
                color: rgba(255,255,255,1.00);
            }

                .footer-bs .footer-social a:hover {
                    color: rgba(255,255,255,0.80);
                    text-decoration: none;
                }

            .footer-bs .footer-ns h4 {
                font-size: 11px;
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-bottom: 10px;
            }

            .footer-bs .footer-ns p {
                font-size: 12px;
                color: rgba(255,255,255,0.70);
            }

        @@media (min-width: 768px) {
            .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
                border-left: solid 1px rgba(255,255,255,0.10);
            }
        }
    </style>
    <div class="container-fluid">
        <section style="height:80px;"></section>
       
        <!----------- Footer ------------>
        <footer class="footer-bs">
            <div class="row ">
                <div class="col-md-3 footer-brand animated fadeInLeft mx-auto">
                     <img src="~/Content/images/logo.png" class="img-fluid " style="height:160px;float:left" />
                    <p class="text-justify" style="padding:20px">Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
                    <p>© 2019 SameDayServicez.com</p>
                </div>
                <div class="col-md-2 footer-nav animated fadeInUp mx-auto">                                  
                    <div class="col-md-12">
                        <ul class="list">
                            <li>@Html.ActionLink("About Us", "About", "Home", null, new { @class = "nav-link text-primary" })</li>
                            <li>@Html.ActionLink("How It Works", "Works", "Home", null, new { @class = "nav-link text-primary" })</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "nav-link text-primary" })</li>
                            <li>@Html.ActionLink("Terms & Condition", "TOS", "Home", null, new { @class = "nav-link text-primary" })</li>
                            <li>@Html.ActionLink("Privacy Policy", "Privacy", "Home", null, new { @class = "nav-link text-primary" })</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 footer-social animated fadeInDown mx-auto">
                    <h4>Follow Us</h4>
                    <ul>
                        <li><a href="#"><i style="font-size:3rem" class="fab fa-lg fa-facebook"></i></a></li>
                        <li><a href="#"><i style="font-size:3rem"  class="fab fa-lg fa-twitter"></i></a></li>
                        <li><a href="#"><i style="font-size:3rem" class="fab fa-lg fa-instagram"></i></a></li>
                       
                    </ul>
                </div>
               
            </div>
        </footer>
     

    </div>
</body>
</html>
