@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Session["FullName"]
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            @*<a class="dropdown-item" href="@Url.Action("BasicInfo", "Account", new { IsContractor = SameDayServicezFinal.Utils.Extensions.IsInContractorMode })">Profile</a>*@
            <a class="dropdown-item" href="@Url.Action("Portal", "Account", new { IsContractor = SameDayServicezFinal.Utils.Extensions.IsInContractorMode })">DashBoard</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>





        </div>
    </li>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}
