
@model SameDayServicezFinal.Models.PortalList
@using SameDayServicezFinal.Utils

<style>



    .jobs .card-header {
        padding: 0.5rem .6rem;
    }


    .project-more {
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        margin-right: 1px;
        padding: 5px 5px 5px 5px;
        max-height: 1000px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .jobs .card-body {
        /*max-height: 300px;
        min-height: 300px;*/
        background-color: #111111 !important;
    }

    @@media (max-width: 575.98px) {
        .project-more {
            font-size: 12px;
            line-height: 18px;
            /*min-height: 180px;*/
            max-height: 150px
        }

        .jobs .card-body {
            max-height: 350px;
            min-height: 350px;
        }
    }


    @@media (max-width: 360px) {
        .project-more {
            font-size: 12px;
            line-height: 18px;
            max-height: 180px;
            min-height: 180px;
        }
    }

    .morecontent span {
        display: none;
    }

    .morelink {
        display: block;
    }

    .project-table .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .project-table .pull-right {
        float: right;
    }

    .project-table .fa-clock-o:before {
        content: "\f017";
    }

    .project-table .fa-pencil:before {
        content: "\f040";
    }

    .project-table .fa-folder:before {
        content: "\f07b";
    }

    .project-table .fa-sticky-note:before {
        content: "\f249";
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    .project-table small {
        font-size: 80%;
    }

    .project-table a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
    }

        .project-table a:hover {
            color: #0056b3;
            text-decoration: underline;
        }

    .project-table img {
        vertical-align: middle;
        border-style: none;
    }

    .project-table table {
        border-collapse: collapse;
    }

    .project-table th {
        text-align: inherit;
    }

    .project-table button {
        border-radius: 0;
    }

        .project-table button:focus {
            outline: 1px dotted;
            outline: 5px auto -webkit-focus-ring-color;
        }

    .project-table button {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    .project-table button {
        overflow: visible;
    }

    .project-table button {
        text-transform: none;
    }

    .project-table button {
        -webkit-appearance: button;
    }

        .project-table button::-moz-focus-inner {
            padding: 0;
            border-style: none;
        }

    .project-table small, .small {
        font-size: 80%;
        font-weight: 400;
    }

    .project-table .table {
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    }

        .project-table .table th, .table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .project-table .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }

    @@media (max-width: 575.98px) {
        .project-table .table-responsive-sm {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
    }

    .project-table .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    @@media screen and (prefers-reduced-motion: reduce) {
        .project-table .btn {
            transition: none;
        }
    }

    .project-table .btn:hover {
        color: #212529;
        text-decoration: none;
    }

    .project-table .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .project-table .btn:disabled {
        opacity: 0.65;
    }

    .project-table .btn-group {
        position: relative;
        display: -ms-inline-flexbox;
        display: inline-flex;
        vertical-align: middle;
    }

        .project-table .btn-group > .btn {
            position: relative;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
        }

            .project-table .btn-group > .btn:hover {
                z-index: 1;
            }

            .project-table .btn-group > .btn:focus, .btn-group > .btn:active {
                z-index: 1;
            }

            .project-table .btn-group > .btn:not(:first-child) {
                margin-left: -1px;
            }

            .project-table .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .project-table .btn-group > .btn:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

    .project-table .progress {
        display: -ms-flexbox;
        display: flex;
        height: 1rem;
        overflow: hidden;
        font-size: 0.75rem;
        background-color: #e9ecef;
        border-radius: 0.25rem;
    }

    .project-table .progress-bar {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #007bff;
        transition: width 0.6s ease;
    }

    @@media screen and (prefers-reduced-motion: reduce) {
        .project-table .progress-bar {
            transition: none;
        }
    }

    .project-table .rounded {
        border-radius: 0.25rem !important;
    }

    .project-table .text-right {
        text-align: right !important;
    }

    @@media print {
        *, *::before, *::after {
            text-shadow: none !important;
            box-shadow: none !important;
        }

        .project-table a:not(.btn) {
            text-decoration: underline;
        }

        .project-table thead {
            display: table-header-group;
        }

        .project-table tr, img {
            page-break-inside: avoid;
        }

        .project-table .table {
            border-collapse: collapse !important;
        }

            .project-table .table td, .table th {
                background-color: #fff !important;
            }
    }

    .project-table .pull-right {
        float: right;
    }

    i {
        font-family: 'stroke';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .project-table .btn:active {
        box-shadow: none;
    }

    .project-table .btn {
        color: inherit;
        background-color: transparent;
        font-size: 0.9rem;
    }

    .project-table .btn-default {
        border-color: #585d6e;
    }

    .project-table .btn-default {
        color: #949ba2;
        background-color: transparent;
        border-color: #616779;
    }

        .project-table .btn-default:hover {
            color: #ffffff;
            background-color: rgba(97, 103, 121, 0.1);
            border-color: #616779;
        }

        .project-table .btn-default:active {
            background-image: none;
        }

        .project-table .btn-default:hover, .btn-default:active, .btn-default:active:focus, .btn-default:focus {
            background-color: #3d404c;
        }

    .project-table .btn-xs {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .project-table .m-b-none {
        margin-bottom: 0 !important;
    }



    .project-table a {
        color: #015668 !important;
        text-decoration: none;
    }

        .project-table a:hover, a:focus {
            color: #f8bb52;
            outline: none;
            text-decoration: none;
        }

    .project-table small, .small {
        font-size: 83%;
        color: grey
    }

    .project-table .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }

    .project-table .label-default {
        background-color: #44464f;
    }

    .project-table .label:empty {
        display: none;
    }

    .project-table img.image-md {
        width: 32px;
        height: 32px;
    }

    .project-table .progress {
        border-radius: 2px;
        margin-bottom: 10px;
    }

    .project-table .progress-bar {
        background-color: #2f323b;
        text-align: right;
        padding-right: 10px;
        color: #949ba2;
    }

    .project-table .progress-small, .progress-small .progress-bar {
        height: 10px;
    }

    .project-table .progress-bar-warning {
        border-right: 4px solid #015668 !important;
    }

    .project-table .full .progress-bar-warning {
        background-color: #015668 !important;
        border-right: 4px solid #015668 !important;
    }

    .project-table .full .progress-bar {
        color: #ffffff;
    }

    .project-table .label-default {
        background-color: #44464f;
    }

    .project-table .table > thead > tr > th, .table > tbody > tr > td {
        border-top: 1px solid #3d404c;
    }

    .project-table .table > thead > tr > th {
        border-bottom: none;
    }

    .project-table th {
        color: #ffffff;
    }

    .project-table .table.table-vertical-align-middle tbody > tr > td {
        vertical-align: middle;
    }

    .project-table .table th, .table td {
        padding: 8px;
    }

    .project-table .table > thead:first-child > tr:first-child > th {
        border-top: 0;
    }

    .project-table span {
        color: #015668 !important;
    }

    .project-table .label-Completed {
        background-color: #303030 !important;
        color: white !important;
    }

    .project-table .label-Active {
        background-color: #015668 !important;
        color: white !important;
    }

    .project-table .label-Draft {
        background-color: #FF550B !important;
        color: white !important;
    }

    .project-table .label-Closed {
        background-color: #000000 !important;
        color: white !important;
    }










    .project-table tr {
        background-color: transparent !important;
    }


    i {
        font-family: 'stroke';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .panel-body .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .panel-body .fa-search:before {
        content: "\f002";
    }

    .panel-body *, *::before, *::after {
        box-sizing: border-box;
    }

    .panel-body button {
        border-radius: 0;
    }

        .panel-body button:focus {
            outline: 1px dotted;
            outline: 5px auto -webkit-focus-ring-color;
        }

    .panel-body input, button, select {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    .panel-body button, input {
        overflow: visible;
    }

    .panel-body button, select {
        text-transform: none;
    }

    .panel-body button, [type="button"] {
        -webkit-appearance: button;
    }

        .panel-body button::-moz-focus-inner, [type="button"]::-moz-focus-inner {
            padding: 0;
            border-style: none;
        }

    .panel-body .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .panel-body .col-lg-3, .col-lg-6 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    @@media (min-width: 992px) {
        .panel-body .col-lg-3 {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }

        .panel-body .col-lg-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    .panel-body .form-control {
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #494b54 !important;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    @@media screen and (prefers-reduced-motion: reduce) {
        .panel-body .form-control {
            transition: none;
        }
    }

    .panel-body .form-control::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    .panel-body .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .panel-body .form-control::-webkit-input-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .panel-body .form-control::-moz-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .panel-body .form-control:-ms-input-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .panel-body .form-control::-ms-input-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .panel-body .form-control::placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .panel-body .form-control:disabled {
        background-color: #e9ecef;
        opacity: 1;
    }

    /*.panel-body .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }*/

    /*@@media screen and (prefers-reduced-motion: reduce) {
        .panel-body .btn {
            transition: none;
        }
    }*/


    .panel-body .input-group {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
        margin: 10px;
    }

        .panel-body .input-group > .form-control {
            position: relative;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1%;
            margin-bottom: 0;
            background-color: #494b54 !important
        }

            .panel-body .input-group > .form-control:focus {
                z-index: 3;
            }

            .panel-body .input-group > .form-control:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

    .panel-body .input-group-append {
        display: -ms-flexbox;
        display: flex;
    }

        .panel-body .input-group-append .btn {
            position: relative;
            z-index: 2;
        }

            .panel-body .input-group-append .btn:focus {
                z-index: 3;
            }

    .panel-body .input-group-append {
        margin-left: -1px;
    }

    .panel-body .input-group > .input-group-append > .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    @@media print {
        .panel-body *, *::before, *::after {
            text-shadow: none !important;
            box-shadow: none !important;
        }
    }




    .panel-body .input-group-append .btn {
        position: relative;
        z-index: 2;
        border: none;
        background-color: #343741;
    }

        .panel-body .input-group-append .btn:focus {
            box-shadow: none;
        }

        .panel-body .input-group-append .btn:active {
            background-color: #383c46 !important;
        }

    .panel-body .m-t-xs {
        margin-top: 5px;
    }

    .panel-body .m-b-xs {
        margin-bottom: 5px;
    }

    .panel-body .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .panel-body .col-lg-3, .col-lg-6 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .panel-body .panel .panel-body {
        padding: 5px 15px 15px 15px;
    }

    .panel-body .panel.panel-filled .panel-body {
        padding-top: 10px;
    }

    .panel-body .panel-body {
        padding: 15px;
    }

    .panel-body .form-control {
        color: #949ba2;
        border: none;
        border-radius: 4px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        background-color: #494b54;
        font-size: 0.88rem;
    }

        .panel-body .form-control:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
            background-color: #52555f;
            color: #949ba2;
        }

    .project-table .label-accent {
        color: white !important;
    }

    .project-table .label-accent {
        font-weight: normal !important;
    }

    .custom-table-buttons {
        background-color: #949ba2;
        border: 1px grey solid !important;
        display: inline-block !important;
        border-radius: 0 !important;
        padding: 0.25rem 0.5rem !important;
        font-size: 0.875rem;
        line-height: 1.5;
    }

    a.btn.custom-table-buttons:hover {
        color: white;
        background-color: transparent;
        border-color: #4a4f5d;
    }

    #DataTables_Table_0_paginate {
        margin-right: 10px !important;
        margin-bottom: 10px !important;
    }

    .dataTables_length label {
        display: none;
    }

    #DataTables_Table paginate {
        margin-right: 10px !important;
        margin-bottom: 10px !important;
    }

    table th.text-center, table td.text-center {
        text-align: center;
    }

    .badge {
        width: 22px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        padding: 0;
        border-radius: 50%;
    }
</style>



<div class="row project-loading">
    <div class="col-lg-12">

        @{

            if (Model.ApplicationUser.IsInContractorMode)
            {
                <div class="row">
                    <div class="col-sm-3">
                        <div class="panel card " style="padding:10px">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <label class="text-light" style="margin-left:10px;font-size: 0.8rem;color: #212529;font-weight:bold;">Hourly Rate:</label>
                                            <select class="form-control hourly-select" style="width: 100%;margin:10px">
                                                <option value="">- Please Select A Hourly Rate -</option>
                                                @foreach (var item in Extensions.GetHourlyRateList())
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-group ">
                                            <label class="text-light" style="margin-left:10px;font-size: 0.8rem;color: #212529;font-weight:bold;">Job Description Search:</label>
                                            <input type="text" class="form-control description-search" placeholder="Search for a job description" style="margin:10px">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="input-group SubProfessions">
                                            <label class="text-light" style="margin-left:10px;font-size: 0.8rem;color: #212529;font-weight:bold;">Recommended Skills:</label>
                                            <select class="form-control  search-project-profession" style="width: 100%;margin:10px">
                                                <option value="">- Please Select A Skill -</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="container">
                                        <button type="button" class="btn btn-dark float-right job-search disabled" style="margin-right:10px;" disabled>Search</button>
                                        <button type="button" class="btn btn-dark float-right reset-job-search " style="margin-right:10px;" >Reset</button>
                                    </div>
                                </div>






                            </div>
                        </div>
                    </div>


                    <div class="col-sm-9">
                        <div class="open-projects">
                            @Html.Partial("_ViewOpenProjectsC", Model)
                        </div>
                    </div>


                </div>











            }
            else
            {
                <div class="panel card" style="padding:10px">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-2">
                                <div class="input-group ">
                                    <label class="text-light" style="margin-left:10px">Status Filter:</label>
                                    <select class="form-control select-status" style="width: 100%;margin:10px">
                                        <option value="">All</option>
                                        <option>Completed</option>
                                        <option>Active</option>
                                        <option>Draft</option>
                                        <option>Closed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group ">
                                    <label class="text-light" style="margin-left:10px">Project Search:</label>
                                    <input type="text" class="form-control project-search" placeholder="Search for anything" style="margin:10px">
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="input-group ">
                                    <label class="text-light" style="margin-left:10px">Assigned Contractors:</label>
                                    <select class="form-control select-participates" style="width: 100%;margin:10px">
                                        <option value="">All</option>
                                        @{
                                            List<string> participates = new List<string>();

                                            foreach (var item in Model.Projects)
                                            {
                                                foreach (var profile in item.ProjectAssignments)
                                                {
                                                    participates.Add(profile.ProfileDisplayName);
                                                }
                                            }

                                            foreach (var item in participates.Distinct().OrderBy(p => p))
                                            {
                                                <option>@item</option>
                                            }


                                        }

                                    </select>
                                </div>
                            </div>






                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table   project-table ">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Project name</th>
                                        <th>Status</th>
                                        <th>Assigned Contractors</th>
                                        <th>Applicants Alert</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Zipcode</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.Projects)
                                    {
                                        <tr >
                                            <td></td>

                                            <td class="edit-project" data-id="@item.ProjectsId" style="cursor:pointer">
                                                <span>@item.ProjectTitle</span>


                                            </td>
                                            <td>


                                                @{
                                                    switch (item.ProjectStatus)
                                                    {
                                                        case SameDayServicezFinal.Models.ProjectStatuses.Completed:
                                                            <span class="label label-Completed"> @item.ProjectStatus</span>
                                                            break;
                                                        case SameDayServicezFinal.Models.ProjectStatuses.Active:
                                                            <span class="label label-Active"> @item.ProjectStatus</span>
                                                            break;
                                                        case SameDayServicezFinal.Models.ProjectStatuses.Draft:
                                                            <span class="label label-Draft"> @item.ProjectStatus</span>
                                                            break;
                                                        case SameDayServicezFinal.Models.ProjectStatuses.Closed:
                                                            <span class="label label-Closed"> @item.ProjectStatus</span>
                                                            break;

                                                    }

                                                    @*if (item.IsProjectPublished)
                                                    {
                                                        <span class="label label-Active" style="margin-left:5px">Published</span>
                                                    }*@
                                                }


                                            </td>
                                            <td>
                                                @foreach (var profile in item.ProjectAssignments)
                                                {
                                                        <a href="#" data-toggle="tooltip" data-contractor-id="@profile.UsersId" title="@profile.ProfileDisplayName" class="profile-icon-btn" style="margin:5px">
                                                            <img alt="image" class=" image-md " style="border-radius:25px !important;border:1px solid #000 !important;" src="/Uploads/ProfileImages/@profile.UsersId/@profile.ProfileImage">
                                                        <span style="display:none">@profile.ProfileDisplayName</span>
                                                        </a>
                                                }
                                            </td>

                                            <td >
                                                @{
                                                    if (item.ApplicantCount > 0)
                                                    {
                                                        <span class="badge bg-orange badge-corner project-applicant-count-badge-@item.ProjectsId" data-id="@item.ProjectsId">@item.ApplicantCount</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge bg-orange badge-corner project-applicant-count-badge-@item.ProjectsId" data-id="@item.ProjectsId"></span>
                                                    }
                                                }
                                            </td>

                                            <td>
                                                <span>@item.City</span>
                                            </td>
                                            <td>
                                                <span>@item.State</span>
                                            </td>
                                            <td>
                                                <span>
                                                    @if (item.ZipCode != "00000")
                                                    {
                                                        @item.ZipCode
                                                    }

                                                </span>
                                            </td>

                                            <td>
                                                <div class="btn-group pull-right">
                                                    <button class="btn btn-default btn-xs view-project d-none" data-id="@item.ProjectsId"><i class="fas fa-folder"></i> View</button>
                                                    <button class="btn btn-default btn-xs edit-project" data-id="@item.ProjectsId"><i class="fas fa-pencil-alt"></i>Edit</button>
                                                    <button class="btn btn-default btn-xs notes-project" data-id="@item.ProjectsId"><i class="fas fa-sticky-note"></i> Notes</button>



                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            }

        }




    </div>

</div>
<div class="full-icon-profile-view"></div>

<div class="loader">
    <div class="project-view">

    </div>
</div>

<div class="job">

</div>

<input type="hidden" class="mode" />
<input type="hidden" class="new-data" />
<input type="hidden" class="contractor-customer-change" />

@{
    if (Model.ApplicationUser.IsInContractorMode)
    {
        <input type="hidden" class="cm" value="true" />
        <script>
            $('#nav-contractor-search-tab').hide();
            $('#nav-applied-jobs-tab').show();
        </script>
    }
    else
    {
        <input type="hidden" class="cm" value="false" />
        <script>
            $('#nav-contractor-search-tab').show();
            $('#nav-applied-jobs-tab').hide();
        </script>
    }
}




    <script>

    var projects = [];



        $('.hourly-select').on('change', function (evt) {

            if ($('.hourly-select').val() != '') {
                $('.job-search').attr('disabled', false)            
                $('.job-search').removeClass('disabled')
               
            } else {
                $('.job-search').attr('disabled', true)            
                $('.job-search').addClass('disabled')              
            }          
        });

         $('.description-search').on('change keyup paste', function (evt) {

             if ($('.description-search').val() != '') {
                $('.job-search').attr('disabled', false)               
                $('.job-search').removeClass('disabled')
              
            } else {
                $('.job-search').attr('disabled', true)
                $('.job-search').addClass('disabled')               
            }      
         });

        $('.search-project-profession').on('change', function (evt) {

            if ($('.search-project-profession').val() != '') {
                $('.job-search').attr('disabled', false)      
                $('.job-search').removeClass('disabled')
               
            } else {
                $('.job-search').attr('disabled', true)              
                $('.job-search').addClass('disabled')               
            }      

        });




    $(document).ready(function () {

        $('.profile-icon-btn').on('click', function (evt) {
            var $detailDiv = $('body');

            $.get('/Account/FullProfile?Id=' + $(this).attr('data-contractor-id'), function (data) {
               $detailDiv.append(data);         

                $('.bd-example-modal-lg').modal('show').on('hidden.bs.modal', function (e) {

                    $('.bd-example-modal-lg').remove();
                });

            });
        });


        $('.job-search').on('click', function (evt) {
            evt.preventDefault();
            evt.stopPropagation();


            var $detailDiv = $('.open-projects');
            $detailDiv.html('');
            var hr = $('.hourly-select option:selected').val();
            var description = $('.description-search').val();
            var profession = $('.search-project-profession option:selected').val();
            $.get('/Account/GetOpenProjects?page=0&HourlyRange=' + hr + '&descripton=' + description + '&Profession=' + profession, function (data) {
                $detailDiv.replaceWith('<div class="open-projects">' + data + '</div>');
            });


            $("html, body").animate({ scrollTop: 0 }, 1000);
        });

        $('.reset-job-search').on('click', function (evt) {
            evt.preventDefault();
            evt.stopPropagation();


            var $detailDiv = $('.open-projects');
            $detailDiv.html('');
            var hr = $('.hourly-select option:selected').val('');
            var description = $('.description-search').val('');
            var profession = $('.search-project-profession option:selected').val('');
            $.get('/Account/GetOpenProjects?page=' + $(this).attr('data-page') + '&HourlyRange=' + hr + '&descripton=' + description + '&Profession=' + profession + '&reset=true', function (data) {
                $detailDiv.replaceWith('<div class="open-projects">' + data + '</div>');
            });


            $("html, body").animate({ scrollTop: 0 }, 1000);
        });

        //




            @if (!Model.ApplicationUser.IsInContractorMode) {
                <text>
                LoadProjectTable();
                $('body').loading('stop');
                </text>
            }
            else {
                 <text>


                 </text>
            }


        if ($('.cm').val() == 'true') {
                $('#nav-contractor-search-tab').hide();
            }
            else {
                $('#nav-contractor-search-tab').show();
            }

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href");

                if ((target == '#nav-project')) {

                    if ($('.contractor-customer-change').val() == 'true') {
                        $('.new-data').val('true');
                        setTimeout('NewDataCheck()', 2000);
                    }

                } else {

                }
            });

    });












    function NewDataCheck() {

                if ($('.new-data').val() == 'true') {

                    swal({
                        title: "Customer/Contractor change?",
                        text: "Your view has changed would you like to reload the view?",
                        type: "info",
                        showCancelButton: true,
                        confirmButtonClass: "btn-info",
                        confirmButtonText: "Ok!",
                        closeOnConfirm: true
                    },
                        function () {
                            $('body').loading('start');
                            LoadData('user-projects', 'Account', 'UpdateProjectPortal');
                            //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                            $('.new-data').val('false');
                            $('.contractor-customer-change').val('false');

                            $('.contractor-mode-no-view').toggle();
                        });



                }
            }







    </script>
