@model SameDayServicezFinal.Models.ProjectRating


    @{
        var specialId = Guid.NewGuid();
    }
    <div class="container">
        @*<span>@Model.Project.ProjectTitle</span>

        <span>@Model.Project.ProjectOwnerName</span>
        <span id="rateMe" style="font-size:0.75rem">
            <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="0" data-html="true" data-toggle="popover" data-placement="top" title="Very bad"></i>
            <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="1" data-html="true" data-toggle="popover" data-placement="top" title="Poor"></i>
            <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="2" data-html="true" data-toggle="popover" data-placement="top" title="OK"></i>
            <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="3" data-html="true" data-toggle="popover" data-placement="top" title="Good"></i>
            <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="4" data-html="true" data-toggle="popover" data-placement="top" title="Excellent"></i>
        </span>
        <script>
            $(document).ready(function () {
                SetStars($('.rate-popover-@specialId'),@Model.Rating);
            });

        </script>*@
        <div class="row">
            <div class="col-sm-12">
                <hr />
                <div class="review-block">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="/Uploads/ProfileImages/@Model.ProjectOwner.Id/@Model.ProjectOwner.ProfileImage" class="card-profile-img">
                            <div class="review-block-name"><a href="#">@Model.ProjectOwner.DisplayName</a></div>
                            <div class="review-block-date">@Model.Project.CreationDate.ToString("MMMM") / @Model.Project.CreationDate.Year</div>
                        </div>
                        <div class="col-sm-9 " style="margin-top:15px">
                            <div class="review-block-rate text-left">
                                <span id="rateMe" style="font-size:0.75rem">
                                    <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="0" data-html="true" data-toggle="popover" data-placement="top" title="Very bad"></i>
                                    <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="1" data-html="true" data-toggle="popover" data-placement="top" title="Poor"></i>
                                    <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="2" data-html="true" data-toggle="popover" data-placement="top" title="OK"></i>
                                    <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="3" data-html="true" data-toggle="popover" data-placement="top" title="Good"></i>
                                    <i class="fas fa-star py-2 px-1 rate-popover-@specialId" data-index="4" data-html="true" data-toggle="popover" data-placement="top" title="Excellent"></i>
                                </span>
                                <script>
                                        $(document).ready(function () {
                                            SetStars($('.rate-popover-@specialId'),@Model.Rating);
                                        });

                                </script>
                                <span class="btn btn-dark MyFont " data-contractorid="@Model.ProjectOwner.Id" data-contractor-display-name="@Model.ProjectOwner.DisplayName" data-toggle="modal" data-target="#messageModal">Message Owner</span>
                            </div>
                            <div class="review-block-title text-uppercase text-left text-success">@Model.Project.ProjectTitle</div>
                            <div class="review-block-description text-left">@Model.ProjectOwnerComment</div>
                        </div>
                    </div>
                    <hr />
                  
                </div>
            </div>
        </div>
    </div>
                          

                    
                           
                       
