@model SameDayServicezFinal.Models.PortalList


<style>
    @@media print {
        *, :after, :before {
            text-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        a, a:visited {
            text-decoration: underline;
        }

        img {
            page-break-inside: avoid;
        }
    }

    *, :after, :before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    h6 {
        margin-top: 0;
        margin-bottom: 8px;
        margin-bottom: .5rem;
    }

    small {
        font-size: 80%;
    }



    .form-control {
        display: block;
        width: 100%;
        padding: 6px 12px;
        padding: .375rem .75rem;
        font-size: 14px;
        font-size: .875rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    }

        .form-control:: -ms-expand {
            background-color: transparent;
            border: 0;
        }

        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #9acffa;
            outline: none;
            -webkit-box-shadow: 0 0 0 .2rem rgba(33,150,243,.25);
            box-shadow: 0 0 0 .2rem rgba(33,150,243,.25);
        }

        .form-control:: -webkit-input-placeholder {
            color: #868e96;
            opacity: 1;
        }

        .form-control: -ms-input-placeholder, .form-control:: -ms-input-placeholder {
            color: #868e96;
            opacity: 1;
        }

        .form-control:: placeholder {
            color: #868e96;
            opacity: 1;
        }

        .form-control: disabled {
            background-color: #e9ecef;
            opacity: 1;
        }


    .w-100 {
        width: 100% !important;
    }

    .h-100 {
        height: 100% !important;
    }


    #chat-sidebar {
        width: 250px;
        height: calc(100vh - 125px);
        overflow: auto;
    }

    #chat-box {
        height: calc(100vh - 125px);
        overflow: auto;
    }

    [class*=gap] {
        width: auto !important;
        overflow: hidden !important;
    }

    .gapY-5 {
        margin-top: -2.5px !important;
        margin-bottom: -2.5px !important;
    }

        .gapY-5 > * {
            padding-top: 2.5px !important;
            padding-bottom: 2.5px !important;
        }

    .gapY-10 {
        margin-top: -5px !important;
        margin-bottom: -5px !important;
    }

        .gapY-10 > * {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }

    .gapY-15 {
        margin-top: -7.5px !important;
        margin-bottom: -7.5px !important;
    }

        .gapY-15 > * {
            padding-top: 7.5px !important;
            padding-bottom: 7.5px !important;
        }

    .peers {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        height: auto;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .peer {
        display: block;
        height: auto;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .peer-greed {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .peer > img {
        max-width: none;
    }

    .layers {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .layers {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .fxw-nw {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .ai-fs {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .ai-fe {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .ai-c {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .jc-sb {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .fxg-1 {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .ord-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }

    .ord-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .pos-r {
        position: relative !important;
    }

    .pos-a {
        position: absolute !important;
    }

    .m-0 {
        margin: 0 !important;
    }

    .mB-0 {
        margin-bottom: 0 !important;
    }

    .mR-10 {
        margin-right: 10px !important;
    }

    .mL-10 {
        margin-left: 10px !important;
    }

    .mR-20 {
        margin-right: 20px !important;
    }

    .mL-20 {
        margin-left: 20px !important;
    }

    .mR-30 {
        margin-right: 30px !important;
    }

    .cur-p {
        cursor: pointer;
    }

    .p-0 {
        padding: 0 !important;
    }

    .pY-3 {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
    }

    .pX-10 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .p-15 {
        padding: 15px !important;
    }

    .p-20 {
        padding: 20px !important;
    }

    .pL-20 {
        padding-left: 20px !important;
    }

    .pY-20 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .pX-30 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .t-1 {
        top: 1px;
    }

    .r-1 {
        right: 1px;
    }

    .w-2r {
        width: 32px;
        width: 2rem;
    }

    .w-3r {
        width: 48px;
        width: 3rem;
    }

    .h-2r {
        height: 32px;
        height: 2rem;
    }

    .h-3r {
        height: 48px;
        height: 3rem;
    }

    .td-n {
        text-decoration: none !important;
    }

    .fsz-sm {
        font-size: 13.92px !important;
        font-size: .87rem !important;
    }

    .fsz-md {
        font-size: 18.4px !important;
        font-size: 1.15rem !important;
    }

    .fw-400 {
        font-weight: 400 !important;
    }

    .lh-1 {
        line-height: 1 !important;
    }

    .lh-3\/2 {
        line-height: 1.5 !important;
    }

    .bdT {
        border-top: 1px solid rgba(0,0,0,.0625) !important;
    }

    .bdR {
        border-right: 1px solid rgba(0,0,0,.0625) !important;
    }

    .bdB {
        border-bottom: 1px solid white !important;
    }

    .bdw-0 {
        border-width: 0 !important;
    }

    .bdrs-0 {
        border-radius: 0 !important;
    }

    .bdrs-2 {
        border-radius: 2px !important;
    }

    .bdrs-50p {
        border-radius: 50% !important;
    }

    .bdrs-10em {
        border-radius: 10em !important;
    }

    .bgc-white {
        background-color: transparent !important;
    }

    .c-red-500 {
        color: #f44336 !important;
    }

    .cH-blue-500:hover {
        color: #2196f3 !important;
    }

    .c-green-500 {
        color: #4caf50 !important;
    }

    .c-amber-500 {
        color: #ffc107 !important;
    }

    .bgcH-grey-50:hover {
        background-color: #fafafa !important;
    }

    .bgc-grey-200 {
        background-color: #eee !important;
    }

    .c-grey-500 {
        color: #9e9e9e !important;
    }

    .c-grey-900 {
        color: #212121 !important;
    }

    .bgc-grey-200 {
        background-color: #f2f3f5 !important;
    }

    .c-grey-500 {
        color: #b9c2d0 !important;
    }

    .c-grey-900 {
        color: #313435 !important;
    }

    .ps {
        overflow: hidden !important;
        overflow-anchor: none;
        -ms-overflow-style: none;
        touch-action: auto;
        -ms-touch-action: auto;
    }

    .ps__rail-x {
        height: 15px;
        bottom: 0;
    }

    .ps__rail-x, .ps__rail-y {
        display: none;
        opacity: 0;
        -o-transition: background-color .2s linear,opacity .2s linear;
        transition: background-color .2s linear,opacity .2s linear;
        -webkit-transition: background-color .2s linear,opacity .2s linear;
        position: absolute;
    }

    .ps__rail-y {
        width: 15px;
        right: 0;
    }

    .ps:hover > .ps__rail-x, .ps:hover > .ps__rail-y {
        opacity: .6;
    }

    .ps__rail-x:focus, .ps__rail-x:hover, .ps__rail-y:focus, .ps__rail-y:hover {
        background-color: #eee;
        opacity: .9;
    }

    .ps__thumb-x {
        -o-transition: background-color .2s linear,height .2s ease-in-out;
        transition: background-color .2s linear,height .2s ease-in-out;
        -webkit-transition: background-color .2s linear,height .2s ease-in-out;
        height: 6px;
        bottom: 2px;
    }

    .ps__thumb-x, .ps__thumb-y {
        background-color: #aaa;
        border-radius: 6px;
        position: absolute;
    }

    .ps__thumb-y {
        -o-transition: background-color .2s linear,width .2s ease-in-out;
        transition: background-color .2s linear,width .2s ease-in-out;
        -webkit-transition: background-color .2s linear,width .2s ease-in-out;
        width: 6px;
        right: 2px;
    }

    .ps__rail-x:focus > .ps__thumb-x, .ps__rail-x:hover > .ps__thumb-x {
        background-color: #999;
        height: 11px;
    }

    .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y:hover > .ps__thumb-y {
        background-color: #999;
        width: 11px;
    }

    [class^=ti-] {
        font-family: themify;
        speak: none;
        font-style: normal;
        font-weight: 400;
        -webkit-font-feature-settings: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .ti-menu:before {
        content: "\E68E";
    }

    .ti-headphone:before {
        content: "\E69D";
    }

    .ti-video-camera:before {
        content: "\E6CF";
    }

    .ti-more:before {
        content: "\E6E1";
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .fa-paper-plane-o:before {
        content: "\F1D9";
    }

    .ps__rail-y {
        right: 0 !important;
        left: auto !important;
    }

    @@media (-ms-high-contrast: none),screen and (-ms-high-contrast:active) {
        .ps {
            overflow: auto !important;
        }
    }

    @@media screen and (min-width: 992px) {
        .d-n\@@md\+ {
            display: none !important;
        }
    }

    @@media screen and (max-width: 991px) {
        #chat-sidebar {
            -webkit-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            margin-left: -250px;
        }
    }

    @@media screen and (max-width: 991px) {
        #chat-sidebar.open {
            margin-left: 0;
        }
    }

    #chat-sidebar {
        width: 250px;
        height: calc(100vh - 125px);
        overflow: auto;
    }

    #chat-box {
        height: calc(100vh - 125px);
        overflow: auto;
    }

    
</style>

<div>
    <div class="peers fxw-nw pos-r">
        <div class="peer bdR" id="chat-sidebar">
            <div class="layers h-100">
                <div class="bdB layer w-100"><input type="text" placeholder="Search contacts..." name="chatSearch" class="form-constrol p-15 bdrs-0 w-100 bdw-0"></div>
                <div class="layer w-100 fxg-1 scrollable pos-r ps">

                    @foreach (var item in Model.Conversations)
                    {

                        if (item.ConversationOwnerId == Model.ApplicationUser.Id)
                        {
                            <a href="#" class="chat-head" data-senders-id="@Model.ApplicationUser.Id" data-receiver-id="@item.ConversationSubOwnerId" data-converstation-id="@item.Id" data-owner="true">
                                <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                                    <div class="peer ">
                                        <img src="/Uploads/ProfileImages/@item.ConversationSubOwner.Id/@item.ConversationSubOwner.ProfileImage" alt="" class="w-3r h-3r bdrs-50p">
                                    </div>
                                    <div class="peer peer-greed pL-20">
                                        <h6 class="mB-0 lh-1 fw-400">@item.ConversationSubOwner.DisplayName</h6>
                                        <small class="lh-1 c-green-500">Online</small>
                                        <span class="badge bg-orange badge-corner unread-messsage-count" style="margin-left:10px"></span>
                                    </div>
                                </div>
                            </a>
                        }

                        if (item.ConversationSubOwnerId == Model.ApplicationUser.Id)
                        {
                            <a href="#" class="chat-head" data-senders-id="@Model.ApplicationUser.Id" data-receiver-id="@item.ConversationOwnerId" data-converstation-id="@item.Id"  data-owner="false">
                                <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                                    <div class="peer ">
                                        <img src="/Uploads/ProfileImages/@item.ConversationOwner.Id/@item.ConversationOwner.ProfileImage" alt="" class="w-3r h-3r bdrs-50p">
                                    </div>
                                    <div class="peer peer-greed pL-20">
                                        <h6 class="mB-0 lh-1 fw-400">@item.ConversationOwner.DisplayName</h6>
                                        <small class="lh-1 c-green-500">Online</small>
                                        <span class="badge bg-orange badge-corner  unread-messsage-count" style="margin-left:10px"></span>
                                    </div>
                                </div>
                            </a>
                        }


                    }



                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; right: 0px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="peer peer-greed" id="chat-box">
            <div class="layers h-100">
                <div class="layer w-100">
                    <div class="peers fxw-nw jc-sb ai-c pY-20 pX-30 bgc-white">
                        <div class="peers ai-c">
                            <div class="peer d-n@md+"><a href="#" title="" id="chat-sidebar-toggle" class="td-n c-grey-900 cH-blue-500 mR-30"><i class="fas fa-bars"></i></a></div>
                            <div class="peer mR-20"><img src="/Uploads/ProfileImages/@Model.ApplicationUser.Id/@Model.ApplicationUser.ProfileImage" alt="" class="w-3r h-3r bdrs-50p"></div>
                            <div class="peer">
                                <h6 class="lh-1 mB-0">@Model.ApplicationUser.DisplayName</h6>                                
                            </div>
                        </div>

                    </div>
                </div>
                <div class="layer w-100 fxg-1 bgc-grey-200 scrollable pos-r ps">
                    <div class="p-20 gapY-15 messages">
                   

                                @*@if (msg.SenderId == conv.ConversationOwnerId)
                                {
                                    <div class="peers fxw-nw">
                                        <div class="peer mR-20"><img class="w-2r bdrs-50p" src="/Uploads/ProfileImages/@conv.ConversationOwner.Id/@conv.ConversationOwner.ProfileImage" alt=""></div>
                                        <div class="peer peer-greed">
                                            <div class="layers ai-fs gapY-5">
                                                <div class="layer">
                                                    <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                                        <div class="peer mR-10"><small>@msg.CreationDate.ToLocalTime()</small></div>
                                                        <div class="peer-greed"><span>@msg.Message</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="peers fxw-nw ai-fe">
                                        <div class="peer ord-1 mL-20"><img class="w-2r bdrs-50p" src="/Uploads/ProfileImages/@conv.ConversationSubOwner.Id/@conv.ConversationSubOwner.ProfileImage" alt=""></div>
                                        <div class="peer peer-greed ord-0">
                                            <div class="layers ai-fe gapY-10">
                                                <div class="layer">
                                                    <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                                                        <div class="peer mR-10"><small>@msg.CreationDate.ToLocalTime()</small></div>
                                                        <div class="peer-greed"><span>@msg.Message</span></div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                }*@
                  
                    </div>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; right: 0px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                    </div>
                </div>
                <div class="layer w-100">
                    <div class="p-20 bdT bgc-white">
                        <div class="pos-r"><input type="text" class="form-control bdrs-10em m-0 message-to-send" placeholder="Say something...">
                        <button type="button" class="btn btn-primary bdrs-50p w-2r p-0 h-2r pos-a r-1 t-1 message-send-button"><i class="fas fa-paper-plane"></i>
                        </button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display:none" class="sender-msg">
    <div class="peers fxw-nw msg">
        <div class="peer mR-20">
            <img class="w-2r bdrs-50p profile-image" src="" alt="">
        </div>
        <div class="peer peer-greed">
            <div class="layers ai-fs gapY-5">
                <div class="layer">
                    <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                        <div class="peer mR-10 "><small class="msg-creation-date"></small></div>
                        <div class="peer-greed "><span class="msg-message"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display:none" class="receiver-msg">
    <div class="peers fxw-nw ai-fe msg">
        <div class="peer ord-1 mL-20">
            <img class="w-2r bdrs-50p profile-image" src="" alt="">
        </div>
        <div class="peer peer-greed ord-0">
            <div class="layers ai-fe gapY-10">
                <div class="layer">
                    <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                        <div class="peer mR-10 "><small class="msg-creation-date"></small></div>
                        <div class="peer-greed "><span class="msg-message"></span></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div  style="display:none" class="unread-message-msg">    
    <li class="li-msg">
        <a rel="nofollow" href="#" class="dropdown-item d-flex top-unread-message">
            <div class="msg-profile"> <img src="" alt="..." class="img-fluid rounded-circle unread-profile-image"></div>
            <div class="msg-body">
                <h3 class="h5 unread-display-name"></h3><span>Sent You Message</span>
            </div>
        </a>
    </li>
</div>
<script>

    $(document).ready(function () {

        setInterval(GetMessageCounts, 5000);

        var senderId = '';
        var receiverid = '';
        var ConversationId = '';
        var Owner = '';
      


        function GetMessageCounts() {
            var OverAllCount = 0;
            $.ajax({
                type: "GET",
                url: "/Account/GetUnreadMessages",
                data: {},
                success: function (data) {                
                    $('.unread-message-badge-count').html('');
                    $('.unread-messsage-count').html('');

                    $.each(data, function (key, conv) {
                        $.each($('.unread-messsage-count'), function (key1, ele) {
                            var convId = $(ele).parent().parent().parent().attr('data-converstation-id');
                            if (conv.Id == convId) {
                                $(ele).html(conv.UnreadMessageCount);
                            }
                        });

                        $('.unread-message-badge-count').html(conv.UnreadMessageCount);
                        var $unreadmsg = $('.unread-message-msg .li-msg').clone();
                        $unreadmsg.find('.unread-profile-image').attr('src', '/Uploads/ProfileImages/' + conv.Message[0].SenderId + '/' + conv.ProfileDisplayImage)                          
                        $unreadmsg.find('.unread-display-name').html(conv.ProfileDisplayName);
                        $unreadmsg.removeClass('li-msg');
                        $('.unread-message-top').append($unreadmsg);

                        $('.top-unread-message').on('click', function (event) {
                            $('#nav-contact-tab').tab('show')
                            event.preventDefault();
                        });

                    });                  
                }
            });
        }

        

       

       


        $('#chat-sidebar-toggle').on('click', function (event) {
            $("#chat-sidebar").toggleClass("open");
            event.preventDefault();
        });

        $('.message-to-send').keydown(function (e) {

            if (e.keyCode == 13) {
                
                e.preventDefault();
                $('.message-send-button').click();
            }
        });




     
        $('.message-send-button').on('click', function (event) {
            event.preventDefault();

            $.ajax({
                type: "POST",
                url: "/Account/CreateMessageWithConversationId",
                data: {                       
                    message:$('.message-to-send').val(),
                    ReceiverId:receiverid , 
                    SenderId: senderId,
                    ConversationId:ConversationId
                },
                success: function (data) {               

                    $('.messages').empty(); 
                    $('.message-to-send').val('');

                    $.ajax({
                        type: "GET",
                        url: "/Account/GetChatMessages",
                        data: {
                            ConversationId: ConversationId,
                        },
                        success: function (data) {

                            var msgs = data.Message;
                            var converstaionStarterID = msgs[0].SenderId;
                            var converstaionReceiverID = msgs[0].ReceiverId;

                            $.each(msgs, function (key, value) {
                                // $.datepicker.formatDate('MM d, yy', new Date(parseInt(value.CreationDate.substr(6))))

                                if (converstaionStarterID == value.SenderId) {
                                    var $sendermsg = $('.sender-msg .msg').clone();
                                    $sendermsg.find('.profile-image').attr('src', '/Uploads/ProfileImages/' + converstaionStarterID + '/profile_' + converstaionStarterID + '.jpg')
                                    $sendermsg.find('.msg-creation-date').html($.datepicker.formatDate('MM d, yy', new Date(parseInt(value.CreationDate.substr(6)))));
                                    $sendermsg.find('.msg-message').html(value.Message);
                                    $sendermsg.removeClass('msg');
                                    $('.messages').append($sendermsg);
                                }


                                if (converstaionReceiverID == value.SenderId) {
                                    var $receivermsg = $('.receiver-msg .msg').clone();
                                    $receivermsg.find('.profile-image').attr('src', '/Uploads/ProfileImages/' + converstaionReceiverID + '/profile_' + converstaionReceiverID + '.jpg')
                                    $receivermsg.find('.msg-creation-date').html($.datepicker.formatDate('MM d, yy', new Date(parseInt(value.CreationDate.substr(6)))));
                                    $receivermsg.find('.msg-message').html(value.Message);
                                    $receivermsg.removeClass('msg');
                                    $('.messages').append($receivermsg);
                                }
                            });
                        }
                    });


                }
            });

        });



         $('.chat-head').on('click', function (event) {           
             event.preventDefault();

             senderId = $(this).attr('data-senders-id');
             receiverid = $(this).attr('data-receiver-id');
             ConversationId = $(this).attr('data-converstation-id');
             Owner = $(this).attr('data-owner');
             
               
             // clear out the old messages
             $('.messages').empty();
           

             $.ajax({
                type: "GET",
                url: "/Account/GetChatMessages",
                data: {                       
                        ConversationId: ConversationId,                        
                },
                success: function (data) {                 
                    
                    var msgs = data.Message;
                    var converstaionStarterID = msgs[0].SenderId;
                    var converstaionReceiverID = msgs[0].ReceiverId;
                   
                    $.each(msgs, function (key, value) {
                    // $.datepicker.formatDate('MM d, yy', new Date(parseInt(value.CreationDate.substr(6))))

                        if (converstaionStarterID == value.SenderId) {
                            var $sendermsg = $('.sender-msg .msg').clone();
                            $sendermsg.find('.profile-image').attr('src','/Uploads/ProfileImages/' + converstaionStarterID + '/profile_' + converstaionStarterID + '.jpg')                        
                            $sendermsg.find('.msg-creation-date').html($.datepicker.formatDate('MM d, yy', new Date(parseInt(value.CreationDate.substr(6)))));                      
                            $sendermsg.find('.msg-message').html(value.Message);
                            $sendermsg.removeClass('msg');
                            $('.messages').append($sendermsg);
                        }


                        if (converstaionReceiverID == value.SenderId) {             
                            var $receivermsg = $('.receiver-msg .msg').clone();
                            $receivermsg.find('.profile-image').attr('src','/Uploads/ProfileImages/' + converstaionReceiverID + '/profile_' + converstaionReceiverID + '.jpg')                        
                            $receivermsg.find('.msg-creation-date').html($.datepicker.formatDate('MM d, yy', new Date(parseInt(value.CreationDate.substr(6)))));                      
                            $receivermsg.find('.msg-message').html(value.Message);
                            $receivermsg.removeClass('msg');
                            $('.messages').append($receivermsg);
                        }                       
                    });                    
                }
            });
        });

//ConversationsId: 40
//CreationDate: "/Date(1576392001167)/"
//Delivered: false
//DeliveredDate: null
//Id: 41
//Message: "this is my test message"
//Read: false
//ReadDate: null
//ReceiverDisplayName: null
//ReceiverId: "bf55fc7e-0f81-4e9c-8f02-ab3ef34e6539"
//SenderDisplayName: null
//SenderId: "2b17cb14-b2e4-4edd-a188-20dfccd390a3"

     });
       


</script>