@using SameDayServicezFinal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<link href="~/Content/login.css" rel="stylesheet" />






@if (ViewBag.Status == null || !ViewBag.Status)
{
    using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <form class="needs-validation" data-toggle="validator">

            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="user_card">

                        @*<div class="d-flex justify-content-center" style="padding-top:140px">
            <div class="brand_logo_container">
                <img src="~/Content/images/logo.png" class="brand_logo" alt="Logo">
            </div>
        </div>*@

                        <div class="justify-content-center" style="margin-top:75px">
                            <div class="form-row d-flex justify-content-center">
                                <div class="form-group  col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input_user", @placeholder = "email", @value = "" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            <div class="form-row d-flex justify-content-center">
                                <div class="form-group  col-md-10">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control input_pass", @type = "password", @placeholder = "password", @value = "" })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>
                            </div>
                            @*<div class="form-group d-flex justify-content-center">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customControlInline">
                    <label class="custom-control-label text-light" for="customControlInline">Remember me</label>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                                </div>*@
                        </div>


                        <div class=" form-group d-flex justify-content-center " style="display:none !important">
                            <div class="col-lg-5 m-3" style="height:100px;width:100px;border:dotted 1px white;" >
                                I Have work
                            </div>

                            <div class="col-lg-5 m-3" style="height:100px;width:100px;border:dotted 1px white">
                                I'm Ready for work
                            </div>
                        </div>
                       










                        <div class="d-flex justify-content-center  login_container">
                            <button type="submit" class="btn login_btn">Login</button>
                        </div>
                        <div class="mt-4">
                            <div class="d-flex justify-content-center links text-light">
                                Don't have an account?
                                @*@Html.ActionLink("Register as a new user", "Register")*@
                                <a href="@Url.Action("Register", "Account")" class="ml-2 text-light">Sign Up</a>
                            </div>
                            <div class="d-flex justify-content-center links">
                                <a href=" @Url.Action("ForgotPassword", "Account")" class=" text-primary">Forgot your password?</a>


                            </div>
                        </div>

                        <div class="mt-4">
                            <p class="text-danger">@ViewBag.ErrorResult</p>
                        </div>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.ReturnUrl)

        </form>



    }

}
else
{


    <div>
        @using (Html.BeginForm("TwoFactorAuthenticate", "Account", FormMethod.Post))
        {






            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="user_card">
                        <div class="d-flex justify-content-center" style="padding-top:140px">
                            <div class="brand_logo_container">
                                <img src="~/Content/images/logo.png" class="brand_logo" alt="Logo">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center links text-primary" style="font-size:smaller">
                            Your login is protected with Google Authenticator. Enter your authenticator code OR one of your account recovery codes below.
                        </div>
                        <div class="justify-content-center ">

                            <div class="form-row d-flex justify-content-center">
                                <div class="form-group  col-md-10">
                                    <input type="text" name="CodeDigit" class="form-control" placeholder="Authenticator Code" />
                                </div>
                            </div>

                        </div>
                        <div class="d-flex justify-content-center  login_container">
                            <button type="submit" class="btn login_btn">Login</button>
                        </div>
                        <div class="mt-4">
                            <div class="d-flex justify-content-center links text-light">
                                Don't have an account?
                                @*@Html.ActionLink("Register as a new user", "Register")*@
                                <a href="@Url.Action("Register", "Account")" class="ml-2 text-light">Sign Up</a>
                            </div>
                            <div class="d-flex justify-content-center links">
                                <a href=" @Url.Action("ForgotPassword", "Account")" class=" text-primary">Forgot your password?</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>








        }
    </div>

}




<script>

    $(document).ready(function () {
        $('#ReturnUrl').val(getUrlParameter('ReturnUrl'))
        $('.footer-bs').hide();
    });


</script>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}